.navbar__container,
.menu,
.menu__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar__container{
    width: 250px;
    height: 100%;
    justify-content: space-evenly;
    background-color: var(--light-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.menu{
    list-style: none;
    padding: 0;
    width: 100%;
    align-items: baseline;
}

.menu__item{
    position: relative;
    width: 250px;
    flex-direction: row;
    font-size: 18px;
    cursor: pointer;
    transition: background-color .5s ease;
    padding-left: 40px;
}

.menu__item:hover{
    background-color: var(--element-color);
    color: var(--light-color);
}

.active{
    background-color: var(--element-color-alt);
    color: var(--light-color);
}

.menu__item--icon{
    margin-right: 10px;
}


/*  Estilos para el componente Cards.js */
.card__container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.card{
    background-color: var(--light-color);
    padding: 2rem;
    border-radius: 5px;
}

.card__total{
    margin-left: 10px;
}

/* Estilos en componente UserGraphic.js */
.graphic__container{
    padding: 1rem;
    overflow-x: auto;
}

.graphic__small{
    display: block;
    margin-top: 2rem;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.5);
}